<div class=" m-3 d-flex flex-column justify-content-center">
    <h1 class="mb-3">Lo sentimos...</h1>
    <p>Hubo un error para validar, verifique si los datos son correctos</p>
    <a href="/"><button>Ir al inicio</button></a>
</div>