    <div class="d-flex justify-content-center">
        <h1>Registro:</h1>
    </div>

    <div class="d-flex justify-content-center">
        <form action="/session/session/register" method="POST">
            <input type="text" name="username" placeholder="ingrese username"></input>
            <input type="text" name="first_name" placeholder="ingrese nombre"></input>
            <input type="text" name="last_name" placeholder="ingrese apellido"></input>
            <input type="text" name="email" placeholder="ingrese email"></input>
            <input type="password" name="password" placeholder="ingrese password"></input>
            <button type="submit" class="btn btn-primary m-2">Enviar</button>
        </form>
    </div>
