:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424 !important;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

    /* PALET COLORS */
$c-cianC: #93D3C2;
$c-cian: #93D3C2;
$c-cianO: #14523D;
$c-black: #020504;
$c-white: #DBECE7;
$c-green: #6e6e6e;
$c-blue: #0055dd;
$c-cianBG: #677579;

/* FONTS */
$f-especial: 'Shrikhand', cursive;
$f-cursive: 'Yellowtail', cursive;
$f-title: 'Roboto Condensed', sans-serif;
$f-text: 'Roboto Serif', serif;
  
  a {
    
    text-decoration: none;
  }
  
  *{
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: $c-cianBG !important;
  }

  html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  

/* SHADOWS */

/* shadow basic */
.shadowBasic{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  /* shadows on hover */
  .shadowHover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  /* shadows windows */
  .shadowWindows{
    box-shadow: rgba(199, 199, 199, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(195, 195, 195, 0.2) 15px 15px, rgba(152, 152, 152, 0.1) 20px 20px, rgba(91, 91, 91, 0.05) 25px 25px;
  }