<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/product/products">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/session/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/user/profile">Perfil</a>
            </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center mb-3">
        <h1>Crear producto</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form class="d-flex flex-column justify-content-center" action="/api/product" method="POST">
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="title" placeholder="Titulo del producto"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="description" placeholder="Descripción del producto"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="thumbnail" placeholder="thumbnail"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="number" name="price" placeholder="precio"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="number" name="stock" placeholder="stock"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="category" placeholder="Category"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="download" placeholder="link de descarga"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="code" placeholder="codigo"></input></div>
            <button type="submit" class="button-30 m-2">Crear producto</button>
        </form>
    </div>