<div class="d-flex justify-content-center mb-3">
        <h1>Crear producto</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form class="d-flex flex-column justify-content-center" action="/api/product" method="POST">
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="title" placeholder="Titulo del producto"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="description" placeholder="Descripción del producto"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="thumbnail" placeholder="thumbnail"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="number" name="price" placeholder="precio"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="number" name="stock" placeholder="stock"></input></div>
            <div class="mb-3"><input class="d-flex justify-content-center" type="text" name="code" placeholder="codigo"></input></div>
            <button type="submit" class="btn btn-primary m-2">Crear preoducto</button>
        </form>
    </div>