<div>
    <h1 class="text-center">Recuperar Contraseña</h1>
        <form class="d-flex justify-content-center mb-3" id="reqEmail" action="/api/session/reset-password" method="POST">
            <input class="m-3" name="email" placeholder="ingrese Email"></input>
            <button class="btn btn-primary m-2" type="submit">Enviar</button>
        </form>