<section>
    <div>
        <h1 class="text-center">Restaurar contraseña</h1>
    </div>
        <form class="d-flex justify-content-center mb-3" id="resetPasswordForm" action="/api/session/reset-password-form" method="POST">
            <label for="password">Nueva Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <input type="hidden" id="token" name="token" value="{{token}}">
            <input type="hidden" id="token" name="email" value="{{email}}">
            <button class="btn btn-primary m-2" type="submit">Enviar</button>
        </form>
</section>