    <h1>Registro:</h1>
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="ingrese nombre"></input>
        <input type="text" name="email" placeholder="ingrese email"></input>
        <input type="text" name="password" placeholder="ingrese password"></input>
        <button>Enviar</button>
    </form>
