<div>
    <h2 class="text-center">Real Time productos</h2>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-between" id="listProducts">
            
        </div>
    </div>
    <hr>
    <form class="" action="" id="formProduct">
        <h2>Crear Producto</h2>
        <p>Title</p>
        <input type="text" name="title" id="title">
        <p>Description</p>
        <input type="text" name="description" id="description">
        <p>Price</p>
        <input type="number" name="price" id="price">
        <p>Code</p>
        <input type="text" name="code" id="code">
        <p>Stock</p>
        <input type="number" name="stock" id="stock">
        <p>Category</p>
        <input type="text" name="category" id="category">
        <p>Thumbnail Link</p>
        <input type="text" name="thumbnail" id="thumbnail">
        <input type="submit" value="enviar">
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const socket = io()


    let form = document.getElementById("formProduct")

    form.addEventListener("submit", evt =>{
        evt.preventDefault()
        let title = form.elements.title.value
        let description = form.elements.description.value
        let price = form.elements.price.value
        let code = form.elements.code.value
        let stock = form.elements.stock.value
        let category = form.elements.category.value
        let thumbnail = form.elements.thumbnail.value
        let status = true;
        if(title !== "" && description !== "" && price !== "" && code !== "" && stock !== "" && category !== "" && thumbnail !== ""){
            socket.emit("addProduct", {
                title,
                description,
                price,
                code,
                stock,
                category,
                thumbnail,
                status,
            })
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error al añadir el producto',
                text: 'Intentalo nuevamente',
            })
        }
    })


    socket.on("products", data =>{
        let div = document.getElementById("listProducts")
        let productos = ""
        data.forEach((product) =>{
            productos +=`
            <div class="d-flex flex-column m-3">
                <h3>${product.title}</h3>
                <h4>${product.description}</h4>
                <p>Precio: ${product.price}</p>
                <p>stock: ${product.stock}</p>
                <p>category: ${product.category}</p>
            </div>`
        })
        div.innerHTML = productos;
    })

</script>